@use '../globals/variables' as v;

.card {
  position: relative;
  aspect-ratio: 2 / 3;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform .5s ease;
  box-shadow: 0px 5px 8px #3030309c;

  &__container {
    width: min(250px, 100%);
    margin-inline: auto;
    cursor: pointer;
  }

  &--flip {
    transform: rotateY(180deg)
  }

  &__front,
  &__back {
    padding: 16px;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }

  &__front {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  &__back {
    transform: rotateY(180deg);
    position: absolute;
    background-color: #afafaf;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__name {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.897);

    &--black {
      color: v.$cl-black;
    }
  }

  &__types {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 50px;
    background-color: v.$cl-white;
    padding: 4px;

    &--black {
      background-color: v.$cl-black;
    }
  }

  &__sprite {
    margin-inline: auto;
    margin-bottom: 20px;

    img {
      object-fit: contain;
    }
  }

  &__frontContent {
    flex: 1;
    min-height: 128px;
    background-color: rgb(255, 242, 217);
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
  }

  &__fact {
    font-size: v.rem(12);
    position: relative;

    &:focus {
      outline-offset: 5px;
      outline-color: v.$cl-primary;
    }

    &--overflow {
      animation: overflowedFact 4s forwards linear;
    }
  }

  &__stats {
    padding: 0;
    list-style-type: none;
  }
}
