@use '../globals/variables' as v;

.card {
  position: relative;
  aspect-ratio: 1 / 1;
  transform-style: preserve-3d;
  transition: transform .5s ease;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-repeat: space;
  background-position: bottom 16px left 50%;
  background-size: calc(25% - 4px);
  background-origin: content-box;
  background-clip: content-box;
  
  /* &--blackBG {
    backdrop-filter: ; // CHECK THIS FOR WHITE CONTRAST
  } */
  
  &__container {
    width: min(270px, 100%);
    margin-inline: auto;
    border-radius: 10px;
    outline: 2px solid #cecece;
    box-shadow: 0px 5px 8px #14141496;
    cursor: pointer;

    &:focus {
      outline-color: v.$cl-white;
      outline-offset: 3px;
    }
  }

  &--flip {
    transform: rotateY(180deg)
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    padding: 4px 4px 4px 8px;

    &--dark {
      color: v.$cl-white;
      background-color: v.$cl-black;
    }
  }
  
  &__name {
    @include v.PokeName
  }

  &__stats {
    padding: 0;
    list-style-type: none;
  }
}
