@use '../globals/variables' as v;

.fact {
  flex: 1;
  min-height: 128px;
  background-color: rgb(255, 242, 217);
  padding: 10px 24px 10px 10px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  &__text {
    font-size: v.rem(12);
    position: relative;
  
    &:focus {
      outline-color: v.$cl-primary;
      outline-offset: 5px;
    }
  
    &--overflow {
      animation: overflowedFact 4s forwards linear;
    }
  }

  &__buttonsContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3px;
    right: 3px;
    bottom: 3px;
  }

  &__button {
    $gap-from-container: 3px;

    width: 18px;
    border: unset;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    font-size: 10px;
    color: white;
    background-color: black;

    &--topLeft {
      position: absolute;
      top: $gap-from-container;
      left: $gap-from-container;
    }
    
    &--topRight {
      position: absolute;
      top: $gap-from-container;
      right: $gap-from-container;
    }

    &--bottomRight {
      position: absolute;
      bottom: $gap-from-container;
      right: $gap-from-container;
    }

    &--bottomLeft {
      position: absolute;
      bottom: $gap-from-container;
      left: $gap-from-container;
    }
  }

}
