@use '../globals/variables' as v;

.sprite {
  margin: auto;
  position: relative;
  z-index: 1;

  &__image {
    object-fit: contain;
    width: 150px;
    filter: drop-shadow(1px 1px 0 v.$cl-black) 
            drop-shadow(-1px -1px 0 v.$cl-black);
  }

  &--modal {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 4;
    grid-column: 1 / 2;

    @media screen and (min-width: 48em) {
      margin: 0;
    }
  }
}