@use '../../globals/variables' as v;

.ability {
  padding: 5px;
  border: 1px solid v.$cl-black;
  border-radius: 10px;
  
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__name {
    font-weight: 500;
    line-height: 1;
    margin: 5px 0;
  }

  &__content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 500ms ease;

    &--hasDropdown {
      max-height: 300px;
    }
  }

  &__description {
    font-size: v.rem(14);
  }
}
