@use '../../globals/variables' as v;

.mainContent {
  height: 100%;
  border: 1px solid v.$cl-black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: v.rem(20) v.rem(10);
  position: relative;
  z-index: 2;

  @media screen and (min-width: 48em) {
    padding: 1rem;
  }

  &__Box {
    position: absolute;
    inset: v.rem(20) v.rem(10);
    background-color: v.$cl-white;
    overflow-y: scroll;

    @media screen and (min-width: 48em) {
      inset: 1rem;
    }

    &--generalInfo {
      position: relative;
      inset: 0;
    }

    &--stats {
      padding: 0;
    }
  }
  
}