@use '../../globals/variables' as v;

.generalData {
  --pokemonColorLowOpacity: ;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  font-size: v.rem(14);
  padding: v.rem(6) v.rem(10);
  
  &:nth-child(2n + 1) {
    background-color: var(--pokemonColorLowOpacity);
    border-radius: 50px;
  }

  &__container {
    margin-bottom: v.rem(16);
    display: flex;
    flex-direction: column;
  }

  &__heading, &__content {
    text-transform: capitalize;
    flex: 1;
    display: flex;
    align-items: center;
  }

  &__heading {
    font-weight: 500;
  }
}