@use '../../globals/variables' as v;

.mainContent {
  height: 100%;
  display: flex;
  border: 1px solid v.$cl-black;
  border-radius: 0px 0px 8px 8px;
  position: relative;
  z-index: 2;
  overflow: hidden;

  &__abilitiesHeading {
    margin-bottom: v.rem(8);
  }

  &__Box {
    position: absolute;
    padding: v.rem(20) v.rem(10);
    background-color: v.$cl-white;
    overflow-y: auto;
    flex: 1;
    inset: 0;

    @media screen and (min-width: 48em) {
      padding: 1rem;
    }

    &--generalInfo {
      --GI_zindex: ;
      z-index: var(--GI_zindex);
    }

    &--stats {
      --stats_zindex: ;
      position: relative;
      z-index: var(--stats_zindex);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--evolutions {
      --evo_zindex: ;
      z-index: var(--evo_zindex);
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: v.rem(16);
    }
  }
}