$ff-roboto: 'Poppins', sans-serif;

$cl-primary: #74191c;
$cl-secondary: #afafaf;
$cl-background: #696969;
$cl-white: #ffffff;
$cl-black: #1b1b1b;
$checkbox-inactive-color: #959495;

@function rem($px) {
  $result: calc($px / 16) + rem;
  @return $result;
}

@mixin mdq {
  @media screen and (min-width: 48em) {
    @content;
  }
}

@mixin PokeName {
  text-transform: uppercase;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
